/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
Created on : 2016/12/11, 23:05:15
Author     : YOSHINO KAI
*/
#Anim {//Anim idに適用する
  overflow: scroll;
  margin: 0px;
  width: 1050px;
  height: 650px;
  background-color:#ffffff;
  border: double 10px;
  border-color: #696969;
  box-sizing:content-box;
}

#Ground {// Ground idに適用する 地面の定義
  overflow: scroll;
  margin: 25px;
  width: 1000px;
  height: 100px;
  position: absolute;
  top: 300px;
  /*background: lightgray;*/
  border-bottom: 225px solid #8B4513;
  box-sizing:content-box;
}

.title{/*タイトル部分*/
  background-color: #99BFFF;/*背景色*/
  color: #221122;/*文字色*/
  height: 80px;
  border-left: double 17px #3848C8;/*左の二本線*/
  border-right: dashed 2px #99BFFF;/*右の点線*/
  font-size: 40pt;/*文字サイズ*/
  font-weight: bold;/*太字*/
}

.content{
  padding: 8px 4px 7px 9px;
  margin: 0px 0px 0px 3px;
  border-left: solid 5px #787898;/*枠色*/
  border-bottom: solid 10px #989898;
  border-right: dashed 2px #787898;
  background-color: #FCFBFF;/*薄い背景色*/
  font-size: 20pt;/*文字サイズ*/
}

#NewBoxArea{
  position: absolute;
  top:0px;
  left:1100px;
  width: 320px;
}

#NewBoxDisplay{
  position: relative;
  height: 180px;
  width: 317px;
}

#NewBoxPlace{
  position: relative;
  top:-70px;
  left: 190px;
  height: 100px;
  width: 100px;
  /*background: black;*/
}

#DeleteBoxArea{
  position: absolute;
  top:280px;
  left:1100px;
  width: 320px;
}

#DeleteBoxDisplay{
  position: relative;
  height: 180px;
  width: 317px;
  background-color: #f08080;
}

#ApplicateButton{
  position: absolute;
  top: 570px;
  left: 1100px;
  height:100px;
  width: 150px;
  font-size: 50px;
}

#ExecButton{
  position: absolute;
  top: 570px;
  left: 1270px;
  height:100px;
  width: 150px;
  font-size: 50px;
}

#MakeBoxArea{
  position: absolute;
  top:700px;
  left:0px;
  width: 900px;/*幅*/
}

#MakeBoxTotal{//MakeBox idに適用する
  //overflow:scroll;
  position: relative;
  height: 350px;
  width: 897px;/*幅。titleの幅から3だけマイナスして下さい*/
}

#MakeBoxLeft{
  position:absolute;;
  height: 300px;
  width: 450px;/*幅。titleの幅から3だけマイナスして下さい*/
  border-right: dashed 2px #787898;
}

#MakeBoxRight{
  position:absolute;
  left: 500px;
  height: 300px;
  width: 450px;/*幅。titleの幅から3だけマイナスして下さい*/
}

.CategoryName{//BoxName idに適用する
  overflow:scroll;
  position: relative;
  top: 0px;
  left: 0px;
  //margin-right: auto;
  width: 320px;
  margin: 0px;
  font-size: 30px;
  background-color: #000000;
  color: #ffffff;
}

#InputNameArea{
  position: relative;;
  top:0px;
  left:0px;
  width: 500px;
  height: 150px;
}

#MakeNameInput{

}

.ErrorMessage{
  font-size: 25px;
  color: #ff0000;
  font-weight:bold;
}

#SetBoxNameButton{
  position: absolute;
  top:45px;
  left: 300px;
  width: 100px;
}

#PreviewBox{
  position: relative;
  top: 10px;
  left: 10px;
}

#AddBoxButton{
  position: absolute;
  top: 250px;
  left: 10px;
  height: 80px;
  width: 150px;
  font-size: 30px;
}

#ChangeBoxButton{
  position: absolute;
  top: 250px;
  left: 170px;
  height: 80px;
  width: 150px;
  font-size: 30px;
}

#TargetStateArea{
  position: absolute;
  top:700px;
  left:1000px;
  width: 420px;
}

#TargetInput{
  overflow:scroll;
  position: relative;
  height: 300px;
  width: 417px;
}

.MiniTask{
  width:  300px;
  height:20px;
  border: double 3px #ff6600;
}

.MiniState{
  font-size: 20px;
  width: 310px;
  height: 20px;
}
