/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2016/12/14, 11:44:22
    Author     : YOSHINO KAI
*/

#wrap {
  position: relative;
  left: 100px;
}

.arm {
  width: 100px;
  height: 25px;
  top: 50px;
  left: 50px;
  background: #C0C0C0;
  position: absolute;
  z-index: 1001;
}

.arm:before {
   content: "";
   display: block;
   width: 50px;
   height: 600px;
   background: #C0C0C0;
   top: -600px;
   left: 25px;
   position: absolute;
}

.arm:after {
   content: "";
   display: block;
   width: 25px;
   height: 125px;
   background: #C0C0C0;
   top: 0px;
   left: -25px;
   position: absolute;
   box-shadow:
       125px 0px #C0C0C0;
}


.hole{
  position: relative;
  /*top: -210px;
  left: 1180px;*/
  width: 100px;
  height: 100px;
  background: #000000;
  /*z-index: 1000;*/
}

.setpanel{/*panel クラスに適用する*/
  position: absolute;
  width: 100px;
  height: 100px;
  /*border:#000000 dashed 1px;*/
  background-color: rgba(204,255,204,0.7);
  z-index: 999;
}

.canset{
  background-color: rgba(204,255,204,0.7);
}

.cannotset{
  background-color: rgba(255,0,0,0.3);
}

.box{/*box クラスに適用する*/
  position: absolute;
  width: 100px;
  height: 100px;
  background: #ff0000;
  border:#000000 solid 1px;
  z-index: 1000;
}

.triangle{
  width: 100px;
  height: 100px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  z-index: 1000;
  /*border-bottom: 100px solid red;*/
}

.trapezoid {
 border-bottom: 100px solid red;/*高さ*/
 border-left: 25px solid transparent;
 border-right: 25px solid transparent;
 height: 0;
 width: 100px;
 z-index: 1000;
}

.word {
  color: #000000; /* 文字を黒色に */
  margin: 0; /* h1とpの余白をリセット */
  font-size:50px;
  font-weight:bold;
  position: absolute;
  top: 40px;
  /*text-align: center; /* 中央寄せ */*/
}

.heavy{
  box-shadow: 0 15px 5px -4px rgba(0,0,0,0.6);
}
