@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  ng-app>
<head>
  <title>kadai8_GUI</title>
  <meta charset="UTF-8">
  <!-- 追加部分 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/anim.css")'>
  <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/base.css")'>

  <!-- <link rel="stylesheet" href="css/anim.css" type="text/css"> -->
  <!-- <link rel="stylesheet" href="css/base.css" type="text/css"> -->

  <!-- BootstrapのCSS読み込み -->
  <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/bootstrap.css")'>
  <!-- <link href="css/bootstrap.css" rel="stylesheet"> -->

  <!-- jQuery読み込み -->
  <script src="@routes.Assets.versioned("javascripts/jquery.min.js")" type="text/javascript"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->

  <!-- Angular読み込み -->
  <script src="@routes.Assets.versioned("javascripts/angular.min.js")" type="text/javascript"></script>
  <!-- <script src="javascript/angular.min.js"></script> -->

  <!-- BootstrapのJS読み込み -->
  <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript"></script>
  <!-- <script src="javascript/bootstrap.min.js"></script> -->

  <script src="@routes.Assets.versioned("javascripts/Plan.js")" type="text/javascript"></script>
  <!-- <script type="text/javascript" src="javascript/Plan.js"></script> -->
</head>

<body>
  <div id="Anim">
    <div id="Ground">
      <!-- <div class="setpanel"  ondragover="_dragover(event)" ondrop="_drop(event)"></div> -->
    </div>
  </div>

  <form id="NewBoxArea" name="newbox"><!-- 新規ボックス出力エリア開始 -->
    <div class="title">NewBox</div>
    <div id="NewBoxDisplay" name="Display" class="content" ng-model="NewBox">
      <div id="NewBoxPlace" name="Place"></div>
    </div>
  </form><!-- 新規ボックス出力エリア終了 -->

  <form id="DeleteBoxArea" name="deletebox"><!-- ボックス削除エリア開始 -->
    <div class="title">DeleteBox</div>
    <div id="DeleteBoxDisplay" name="Display" class="content" ng-model="DeleteBox" ondragover="_dragover(event)" ondrop="_drop_delete(event)"></div>
  </form><!-- ボックス削除エリア終了 -->

  <!-- 適用ボタン -->
  <input type="button" id="ApplicateButton" class="btn btn-info" value="適用" disabled/>

  <!-- 実行ボタン -->
  <input type="button" id="ExecButton" class="btn btn-primary" value="実行" disabled/>



<div id="MakeBoxArea"><!-- メイクボックスエリア開始 -->
  <div class="title">MakeBox</div>
  <div id="MakeBoxTotal" class="content">
    <div id="MakeBoxLeft">
      <div id="InputNameArea">
        <p class="CategoryName bg-primary text-white">Name</p>
        <form name="BoxName" ng-controller="NameCtrl" novalidate>
          <div><input type="text" id="MakeNameInput" name="Text" ng-model="boxname" ng-required="true" ng-maxlength="1" ng-pattern="/^[a-zA-Z0-9]*$/" ng-keyup="CheckName()"></div>
          <div class="ErrorMessage" ng-show="BoxName.Text.$error.required">名前を英数字1文字で入力してください</div>
          <div class="ErrorMessage" ng-show="BoxName.Text.$error.maxlength">1文字で入力してください</div>
          <div class="ErrorMessage" ng-show="BoxName.Text.$error.pattern">英数字で入力してください</div>
          <div class="ErrorMessage" ng-show="samename">既に同じ名前があります</div>
        </form>
        <input type="button" id="SetBoxNameButton" name="Button" class="btn btn-default btn-lg" value="設定" disabled/>
      </div>
      <p class="CategoryName bg-primary text-white">Shape</p>
      <form name="BoxShape" ng-controller="ShapeCtrl">
        <input type="radio" id="RadioShape1" name="Radio" ng-model="shape" value="box"> Box
        <input type="radio" id="RadioShape2" name="Radio" ng-model="shape" value="triangle"> Triangle
        <input type="radio" id="RadioShape3" name="Radio" ng-model="shape" value="trapezoid"> Trapezoid
      </form>
      <p class="CategoryName bg-primary text-white">Color</p>
      <form name="BoxColor" ng-controller="ColorCtrl">
        <input type="radio" id="RadioColor1" name="Radio" ng-model="color" value="red">  Red
        <input type="radio" id="RadioColor2" name="Radio" ng-model="color" value="green"> Green
        <input type="radio" id="RadioColor3" name="Radio" ng-model="color" value="blue"> Blue
        <input type="radio" id="RadioColor4" name="Radio" ng-model="color" value="yellow"> Yellow
      </form>
    </div>
    <div id="MakeBoxRight">
      <p class="CategoryName bg-primary text-white">Weight</p>
      <form name="BoxWeight" ng-controller="WeightCtrl">
        Heavy :
        <input type="checkbox" id="CheckWeight" name="Check" ng-model="weight"><br/>
      </form>
      <p class="CategoryName bg-primary text-white">Preview</p>
      <div id="PreviewBox" class="box">
        <div id="PreviewName" class="word"><p></p></div>
      </div>
      <input type="button" id="AddBoxButton" class="btn btn-success" value="作成" disabled/>
      <input type="button" id="ChangeBoxButton" class="btn btn-warning" value="変更" disabled/>
    </div>
  </div>
</div><!-- メイクボックスエリア終了 -->

<form id="TargetStateArea" name="targetstate" ng-controller="TargetCtrl" novalidate><!-- 目標状態入力エリア開始 -->
  <div class="title">TargetState</div>
  <textarea id="TargetInput" name="TextArea" class="content" ng-model="TargetState" ng-required="true" ng-keyup="CheckTarget()"></textarea>
  <div class="ErrorMessage" ng-show="targetstate.TextArea.$error.required">必ず入力してください</div>
</form><!-- 目標状態入力エリア終了 -->

</body>
</html>
